<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.petcare.mapper.MemberMapper"> 
  	<insert id="signupM" parameterType="Member">
  		insert into MEMBER values(#{email}, #{pwd}, #{nickname}, #{agree}, #{phone}, 
  		#{name}, #{addr}, #{gender}, #{bdate}, 0, SYSDATE, 0, 0)
  	</insert>
  	<select id='checkEmail' resultType='String' parameterType='String'>
  		select EMAIL from MEMBER where EMAIL=#{email}
  	</select>
  	<select id='checkNick' resultType='String' parameterType='String'>
  		select NICKNAME from MEMBER where NICKNAME=#{nickname}
  	</select>
  	<select id='checkLogin' resultType='String' parameterType='String'>
  		select PWD from MEMBER where EMAIL=#{email}
  	</select>
  	<select id='getMyinfo' resultType='Member'>
  		select * from MEMBER where EMAIL=#{email}
  	</select>
  	<update id='updateM' parameterType="Member">
  		update MEMBER set PWD=#{pwd}, NICKNAME=#{nickname}, PHONE=#{phone}, NAME=#{name}, ADDR=#{addr} where EMAIL=#{email}
  	</update>
  	<delete id="deleteM" parameterType="String">
  		delete MEMBER where EMAIL=#{email}
  	</delete>
  	<select id='getNickname' resultType='String' parameterType='String'>
  		select NICKNAME from MEMBER where EMAIL=#{email}
  	</select>
 </mapper> 